# Node
backend/node_modules/
frontend/node_modules/
backend/dist/
frontend/dist/

# Env files
*.env
*.env.*

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Archives
*.zip

# VSCode
.vscode/ 

# 忽略后端的临时验证文件
backend/text.txt 